@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

html, body { height: 100%; }
.no-underline { text-decoration: none; }

.banner{
  background-color:#ADD8E6 ;
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  vertical-align:middle; 
}

img.float {
  float: left;
  vertical-align: middle;
  width: 100px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.background-pattern{
  background-image: url("/assets/gplaypattern.png");
  background-repeat:repeat; 
}

.clear{clear: both;}
span{padding-right: 10px;}

.fill-viewport-height{
  height:100%;
}

@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}

/* pad body from header in mobile mode */
@media (max-width: 768px){

	body{padding-top: 100px;}

  .navbar .sidebar-nav li { margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 0%;
    margin-left: 0%;}

  #site-submenu {
    visibility: hidden;
  }

}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {

  .container-fluid {height:100%;}
  .container-fluid .row {height:100%;}
  .navbar-fixed-top .container {height: 100%;}	

  .navbar-default{
  	height: 100%;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 0%;
    margin-left: 0%;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 0px;
  }

  .logo {
  	float: none;
  	display: block;
  	padding-bottom:6px;
  }

  #site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; 
  }

  #site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    padding: 5% 0; /* Temp: Just spacing. */
  }

  #site-submenu {
    height: 100%;
    position: absolute;
    top: 0;
    background: #FFDC00;
    padding: 15px;
  }

  #site-canvas {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .show-nav #site-canvas {
    -webkit-transform: translateZ(0) translateX(200px);  
    transform: translateZ(0) translateX(200px);  
  }



}



