html, body { height: 100%; }
.no-underline { text-decoration: none; }

.banner{background-color:#ADD8E6 ;margin-top:20px;padding-top:20px; }
.background-pattern{background-image: url("/assets/gplaypattern.png");
background-repeat:repeat; }

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* pad body from header in mobile mode */
@media (max-width: 768px){

	body{padding-top: 70px;}

}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {

  .navbar-fixed-top .container {height: 100%; padding-bottom: 100%;}	

  .navbar-default{
  	height: 100%;
  	padding-bottom: 1000%;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    /*display: block;*/
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .logo {
  	float: none;
  	display: block;
  	padding-bottom:6px;
  }

}

.navbar li {
  height: 1%;

}

.navbar li a {
  padding-right: 20px;
}

.clear{clear: both;}
span{padding-right: 10px;}

