html, body, #map-canvas {
 height: 100%; margin: 0; padding: 0;
}

.basic {
  background: white;
  padding: 10px;
  margin: 10px;
}

#panel>span{
  padding: 50px;
}

#legend>div>img{
  vertical-align: middle;
}

#legend>div>h3{
  text-align: center;
}

.slide {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.hide{
	max-height: 0;
}

.district_labels{
 color: white;
 background-color: transparent;
 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 14px;
 font-weight: bold;
 text-align: center;
 width: 100px;     
 white-space: nowrap;
 text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.infowindow{
	font-family: "Lucida Grande", "Arial", sans-serif;    
	padding: 10px;
	margin: 0 auto;
	max-height:250px;
	max-width: 250px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.infowindow>div>span{
	font-weight: bold;
}

.min-width{
	min-width:200px;
}

.border-row {
	padding-top: 5px;
	padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.district_total{
 color: white;
 background-color: transparent;
 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 width: 100px;     
 white-space: nowrap;
 text-shadow: 2px 2px 2px rgba(0,0,0,1);
}