@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Oswald');

@font-face {
   font-family: 'Open Sans';  
   src: url("http://fonts.googleapis.com/css?family=Open+Sans:bold");
   font-style: bold;  /* Associates values of "bold" with this resource. */
   font-weight: normal;  
}

@font-face {
   font-family: 'Oswald';  
   src: url("http://fonts.googleapis.com/css?family=Oswald:bold");
   font-style: bold;  /* Associates values of "bold" with this resource. */
   font-weight: normal;  
}

html, body, #map-canvas {
 height: 100%; margin: 0; padding: 0;
}

p {
	font-family: "Open Sans", "Arial", sans-serif;
	line-height: 1.5;
}

.basic {
  font-family: "Oswald", "Arial", sans-serif;
  background: white;
  padding: 10px;
  margin: 10px;
}

.centered{
	font-size: 14px;
	text-align:center;
}

.spacing{
	letter-spacing: 2px;
}

.slide {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.hide{
	max-height: 0;
}

.min-width{
	min-width:200px;
}

.border-row {
	padding-top: 10px;
	padding-bottom: 10px;
    border-top: 1px solid #ccc;
}

.sprite-up-arrow{ background-position: 0px 40px; width: 33px; height: 33px; } 
.sprite-down-arrow{ background-position: 0 0; width: 33px; height: 33px;} 

.arrow{
	background-image: url('../../assets/arrow-sprite.png');
	float: right;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(1);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(0.6);
}
.arrow:hover{
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#panel{
 	padding-bottom:10px;
}

#panel>span{
 	display:table;
	margin:0 auto;
}

#legend>div>div>img{
  vertical-align: middle;
}

#legend>div>div>img:hover{
  cursor:pointer;
}

#legend>div>div>h3{
  text-align: center;
}

#district_bio{
	padding-top:10px;
}

.district_labels{
 color: white;
 background-color: transparent;
 font-family: "Oswald", "Arial", sans-serif;
 font-style: bold;
 text-align: center;
 width: 100px;     
 white-space: nowrap;
 text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.district_font_size{
 font-size: 14px;
}

.district_total{
 font-size: 20px;
}

.infowindow{
	font-family: 'Open Sans','Arial', sans-serif;
	overflow: hidden;
    white-space: nowrap;
}

.bio-window{
	font-family: 'Open Sans','Arial', sans-serif;    
	padding: 10px;
	margin: 0 auto;
	max-height:240px;
	max-width: 300px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.infowindow>div>span, .bio-window>div>span{
	font-family: 'Oswald';
	font-style: bold;
}
