
<div class="wrapper sidebar-nav navbar-fixed-top col-sm-2">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header logo">
			<div class="media">
				
				<a class="pull-left" href="{{ site.baseurl }}">
					<img class="media-object logo" src="/assets/favicons/logo2.png" alt="SC">
				</a>
				
			</div>
		
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">show menu</span>
		</div>

		<div class="navbar-collapse collapse sidebar-navbar-collapse">
			<ul id="sidebar-nav" class="nav navbar-nav">
				{% for link in site.navigation %}
			    	{% assign current = nil %}
			    	{% if page.url == link.url %}
			        	{% assign current = 'active' %}
			    	{% endif %}

			    	<li class="{{ current }}">
			        	<a href="{{ link.url }}">
                  <span class="{{ link.glyph }} {{ link.color }}"></span>{{ link.text }}
                </a>
			      	</li>
			  	{% endfor %}
			</ul>

			<div id="sidebar-social-nav"class="footer-col col-md-4">
          <ul class="list-inline">
              {% for network in site.social %}
              <li>
                  <a href="{{ network.url }}" class="btn-social btn-outline">
                    <i class="fa fa-fw fa-{{ network.title }}"></i>
                  </a>
              </li>
              {% endfor %}
          </ul>
      </div>
		</div>
	</nav>
</div>
