
<div class="wrapper sidebar-nav navbar-fixed-top fill-viewport-height col-sm-2">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header logo">
			<div class="media">
				
				<a data-src:"holder.js/100x100" class="pull-left" href="{{ site.baseurl }}">
					<img class="img-responsive media-object" src="/assets/favicons/logo2.png" alt="SC">
				</a>
				
			</div>
		
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>
          <span class="visible-xs navbar-brand">show menu</span>
		</div>

		<div class="navbar-collapse collapse sidebar-navbar-collapse">
			<ul class="nav navbar-nav">
				{% for link in site.navigation %}
			    	{% assign current = nil %}
			    	{% if page.url == link.url %}
			        	{% assign current = 'active' %}
			    	{% endif %}

			    	<li class="{{ current }}">
			        	<a href="{{ link.url }}"><span class="{{ link.glyph }} {{ link.color }}"></span>{{ link.text }}</a>
			      	</li>
			  	{% endfor %}
			</ul>
		</div>
	</nav>
</div>
