{% for post in site.posts %}
  {% if page.url == site.baseurl or post.category contains 'project' %}
    <div class="col-xs-6 col-sm-4 portfolio-item thumbnail-item">
      <a href="{{ post.url }}" class="portfolio-link" data-toggle="modal">
        <img src="/assets/portfolio/{{ post.img }}" class="center-block img-responsive">
        <div class="caption flexbox-container">
          <div class="caption-content">
            <h3>{{ post.title }}</h3>
          </div>
        </div>     
      </a>
    </div>
  {% endif %}
{% endfor %}