<div class="grid swipe-right col-sm-8 col-md-10 col-sm-offset-2">
    {% assign post_match = false %}
    {% for post in site.posts %}
        {% if post.url == page.url %}
            <div class="col-md-6 portfolio-item cover-item">
                <img src="/assets/portfolio/{{ post.img }}" class="img-responsive center">
            </div>

            {% if post.extra-images %}

                {% for image in post.extra-images %}

                    <div class="col-md-3 portfolio-item cover-item">
                        <img src="/assets/portfolio/{{ image }}" class="img-responsive center">
                    </div>

                {% endfor %}
            {% endif %}

            <div class="col-md-6 cover-item description shown padding">
                <span class="portfolio-item-description">{{ post.content }}</span>
                {% if post.blog-url %}
                <br></br>
                    <span class="">
                        <a href="{{ post.blog-url }}" target="_blank">
                            Read Full Blog Post
                        </a>
                    </span>
                <br></br>
                {% endif %}
                <div class="center-block text-center">
                    <a href="{{ post.redirect-url }}" class="btn btn-primary" target="_blank">
                        Check It Out Here!
                    </a>
                </div>
                
            </div>

            {% assign post_match = true %}
        {% endif %}
        
    {% endfor %}

    {% if post_match == false %}
      {% if page.url contains 'blog' %}
        {% include blog.html %}
      {% else %}
        {% include portfolio-thumbnail.html %}
      {% endif %}    
    {% endif %}
</div>
