<div class="grid swipe-right col-md-10 col-sm-offset-2">
    {% assign post_match = false %}
    {% for post in site.posts %}
        {% if post.url == page.url %}
            <div class="col-md-6 portfolio-item cover-item">
                <img src="/assets/portfolio/{{ post.img }}" class="img-responsive center">
            </div>

            <div class="col-md-6 cover-item shown padding">
                <span class="portfolio-item-description">{{ post.content }}</span>
                {% if post.blog-url %}
                <br></br>
                    <span class="">
                        <a href="{{ post.blog-url }}" target="_blank">
                            Read Full Blog Post
                        </a>
                    </span>
                <br></br>
                {% endif %}
                <div class="center-block text-center">
                    <a href="{{ post.redirect-url }}" class="btn btn-primary" target="_blank">
                        Check It Out Here!
                    </a>
                </div>
                
            </div>

            {% if post.extra-images %}

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs-block"></div>

                <div class="col-md-4 portfolio-item cover-item">
                    <img src="/assets/portfolio/{{ post.extra-images }}" class="img-responsive center">
                </div>
            {% endif %}

            {% assign post_match = true %}
        {% endif %}
        
    {% endfor %}

    {% for post in site.posts %}
        {% if page.url == site.baseurl or page.url contains post.category and post_match == false %}
                <div class="col-sm-3 portfolio-item thumbnail-item">
                    <a href="{{ post.url }}" class="portfolio-link" data-toggle="modal">
                        <img src="/assets/portfolio/{{ post.img }}" class="center-block img-responsive">
                        <div class="caption center-block">
                            <div class="caption-content">
                                <h3>{{ post.title }}</h3>
                            </div>
                        </div>     
                    </a>
                </div>
        {% endif %}
    {% endfor %}
</div>
