<div id="site-submenu" class="col-sm-2">
	<div id="blog-links" class=""> 
        <h2>Blog</h2>
        <ul>
        {% for post in site.posts %}
          {% if post.category contains 'blog' %}
          <li>
            <a href="{{ post.url }}">{{post.title}} {{post.subtitle}}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>


	<div id="project-links" class="">
		<h2>Projects</h2>
    <ul>      
   		{% for post in site.posts %}
        {% if post.category contains 'project'%}
        <li>
        	<a href="{{ post.url }}">{{post.title}} {{post.subtitle}}</a>
        </li>
        {% endif %}
    	{% endfor %}

    </ul>
	</div>

	<div id="other-sites" class="">
		<h2>Sites</h2>
      <ul>
        {% for link in site.other-sites %}
		       <li><a href="{{link.url}}">{{link.text}}</a></li>
	      {% endfor %}
      </ul>
	</div>		
</div>