<div id="site-submenu" class="col-sm-2">
	<div id="blog-links" class=""> 
        <h2>Blog</h2>
        <ul>
        	<li><a href="https://medium.com/@simonchen/design-process-for-sf-vehicle-theft-crime-visualization-13b5e0b8dd50"  target="_blank">Design Process for SF Vehicle Theft Crime Visualization</a></li>
        </ul>
    </div>


	<div id="project-links" class="">
		<h2>Projects</h2>
            <ul>
                {% for link in site.project-sites %}
					<li><a href="{{link.url}}">{{link.text}}</a></li>
				{% endfor %}
            </ul>
	</div>

	<div id="other-sites" class="">
		<h2>Sites</h2>
            <ul>
                {% for link in site.other-sites %}
					<li><a href="{{link.url}}">{{link.text}}</a></li>
				{% endfor %}
            </ul>
	</div>		
</div>