$background-url: "/assets/backgrounds/light.png";

$loading-animation-path: "/assets/loader.gif";

$thumbnail-item-size: 200px;
$thumbnail-item-caption-background: rgba(24,188,156,.9);
$grid-item-image-background: #fff;
$grid-item-margin: 10px;

/*Primary Site Colors */
$primary-color: #FFDC00;
$secondary-color: #428BCA; 
$banner-color: #ADD8E6;
$container-color: #f8f8f8;
$primary-text-color: black;

$default-padding: 16px;