@import "colors";
$navbar-max-width : 240px;
$submenu-max-width : $navbar-max-width+ 32px;

.navbar-default {
  background-color: $container-color !important;
}

@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}

/* pad body from header in mobile mode */
@media (max-width: 768px){

  body{
    padding-top: 100px;
  }

  .navbar .sidebar-nav li { 
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 0%;
    margin-left: 0%;
  }

  #site-submenu {
    visibility: hidden;
  }

  div.media {
    display: inline;

    img.logo {
      display: inline;
      width: 60%;
      max-width: 180px;
    }
  
  }

   .navbar-brand{
      float: right !important;
    }

    .navbar-fixed-top {
      webkit-transition: transform 0.5s;
      transition: transform 0.5s;
    }

    .navbar-slide-up {
      webkit-transform: translate(0%,-100%); 
      transform: translate(0%,-100%);
    }

}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {

  .container-fluid {height:100%;}
  .container-fluid .row {height:100%;}
  .navbar-fixed-top .container {height: 100%;}  

  .navbar-default{
    height: 100vh;
    padding-left: $default-padding;
    padding-right: $default-padding;
    max-width: $navbar-max-width;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    margin-right: 0%;
    margin-left: 0%;
  }
  .sidebar-nav .navbar li a {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    padding-left: 0px;
    padding-right: 0px;
  }

  .logo {
    float: none;
    display: block;
    padding-bottom: $default-padding;
  }

  #site-wrapper {
    position: relative;
    width: 100%;
    height: 100%; 
  }

  #site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    padding: 1% 0; /* Temp: Just spacing. */
  }

  #site-submenu {
    /* height: 100vh; */
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: $submenu-max-width;
    //margin-bottom: -101%;
    //padding-bottom: 101%;
    padding-left: $default-padding;
    padding-right: $default-padding;
    background: $primary-color;
    color: $primary-text-color !important;

      a {
        color: $primary-text-color !important;
      }
    
  }

  #site-canvas {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .show-nav #site-canvas {
    -webkit-transform: translateZ(0) translateX(16vw);  
    transform: translateZ(0) translateX(16vw);  
  }



}