@import"space_theme";

.object-fit{
  object-fit: cover;
}

.js .grid {
  background: url("/assets/loader.gif") no-repeat 50% 100px;
}

.js .grid.loaded {
  background: none;
}thumbnail-item

.js .grid .portfolio-item{
  display: none;
}

.js .grid.loaded .portfolio-item{
  display: block;
}

.grid span.portfolio-item-description, .grid a{
  line-height: 22px;
  font-size: 16px;
  margin-top: 10px;
}

.grid .curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:100;
  background: #96cdc8;
}

.grid.swipe-right .curtain {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.grid.swipe-down .curtain {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.grid.swipe-rotate .curtain {
  width: 200%;
  height: 200%;
  transform: rotate3d(0,0,1,90deg);
  transform-origin: top left;
  -webkit-transform: rotate3d(0,0,1,90deg);
  -webkit-transform-origin: top left;
}

/*Shadow effect*/
.grid .curtain::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  content: '';
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
  left: -100%;
}

.grid.swipe-down .curtain::after {
  top: -100%;
}

/* Swipe right */
.grid.swipe-right .portfolio-item.animate .curtain {
  -webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
  animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}
@-webkit-keyframes swipeRight {
  0%{}
  50%, 60% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(100%,0,0); }
}
@keyframes swipeRight {
  0%{}
  50%, 60% { transform: translate(0); -webkit-transform: translate3d(0,0,0); }
  100% { transform: translate3d(100%,0,0); -webkit-transform: translate3d(100%,0,0); }
}


/* Swipe down */
.grid.swipe-down .portfolio-item.animate .curtain {
  -webkit-animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
  animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}
@-webkit-keyframes swipeDown {
  0% {}
  50%, 60% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(0,-100%,0); }
}
@keyframes swipeDown {
  0% {}
  50%, 60% { transform: translate(0);  -webkit-transform: translate3d(0,0,0); }
  100% { transform: translate3d(0,-100%,0); -webkit-transform: translate3d(0,-100%,0);}
}

/* Swipe rotate */
.grid.swipe-rotate .portfolio-item.animate .curtain {
  animation: swipeRotate 1.5s ease forwards;
  -webkit-animation: swipeRotate 1.5s ease forwards;
}

@keyframes swipeRotate {
  0%{}
  50%, 60% { transform: rotate3d(0,0,1,0deg); -webkit-transform: rotate3d(0,0,1,0deg);}
  100% { transform: rotate3d(0,0,1,-90deg); -webkit-transform: rotate3d(0,0,1,-90deg);}
}
@-webkit-keyframes swipeRotate {
  0% {}
  50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
  100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

.grid .portfolio-item.animate .curtain::after {
  animation: fadeOut 1.5s ease forwards;
  animation-delay: inherit;
  -webkit-animation: fadeOut 1.5s ease forwards;
  -webkit-animation-delay: inherit;
}

@keyframes fadeOut {
  0% {}
  50%, 65% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0% {}
  50%, 65% { opacity: 1; }
  100% { opacity: 0; }
}

.js .grid .portfolio-item {
  img, h3, a, span {
    visibility: hidden;
  }
}

.grid .portfolio-item.animate {
  img, h3, a, span {
    animation: showMe 1.5s step-end forwards;
    -webkit-animation: showMe 1.5s step-end forwards;
  }
}

@-webkit-keyframes showMe {
  from { visibility: hidden; }
  65%, 100% { visibility: visible; }
}

@keyframes showMe {
  from { visibility: hidden; }
  65%, 100% { visibility: visible; }
}

.grid .portfolio-item.shown {
  background-color: $grid-item-image-background;

  img, h3, a, span {
    visibility: visible;
  }
}


.grid .cover-item{
  overflow:hidden;
  background-color: $grid-item-image-background;
}

.grid .cover-item.description.shown{
  background-color: #fff;
}

.grid .cover-item.shown.padding {
  padding: 10px;
}

.grid .thumbnail-item {
  overflow:hidden;
  margin: 0px;
  background-color: $grid-item-image-background;
  max-width: $thumbnail-item-size;
}


.grid .thumbnail-item.shown{
  background-color: #fff;
}


.grid .thumbnail-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index:3;
    background: $thumbnail-item-caption-background;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.grid .thumbnail-item .portfolio-link .caption:hover {
    text-decoration:none;
    opacity: 1;
}

.grid .thumbnail-item .portfolio-link .caption .caption-content {
    padding: 1em;
    position: absolute;
    color: #fff;
}

.thumbnail-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

.grid .thumbnail-item .portfolio-link .caption .caption-content h3,
.grid .thumbnail-item .portfolio-link .caption .caption-content h4,
.grid .cover-item img {
    margin: auto;
}

.grid * {
  z-index: 2;
}

.grid .portfolio-item {
  margin: $grid-item-margin;
}


.thumbnail-item{
  width: $thumbnail-item-size;
  height: $thumbnail-item-size;

  img{
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}