$background-url: "/assets/backgrounds/space.png";

$loading_animation_path: "/assets/loader.gif";

$thumbnail-item-size: 200px;
$thumbnail-item-caption-background: rgba(24,188,156,.9);
$grid-item-image-background: transparent;
$grid-item-margin: 10px;