$background-url: "/assets/backgrounds/space.png";

$loading-animation-path: "/assets/loader.gif";

$thumbnail-item-size: 200px;
$thumbnail-item-caption-background: rgba(24,188,156,.9);
$grid-item-image-background: transparent;
$grid-item-margin: 10px;

/*Primary Site Colors */
$primary-color: #696BB6;
$secondary-color: #B3B7EE; 
$banner-color: #3A6B8E;

$primary-text-color: white;
