<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="/css/styles.css" type="text/css">
		{% include favicon.html %}
		{% include analytics.html %}
	</head>
	<body class="background-pattern">
		<div class= "container-fluid">
			<div class="row">
				
				{% include left-sidebar.html %}
				<div id="site-wrapper">
					<div id="site-canvas">
						{% include header.html %}
						{% include portfolio.html %}
						{% include submenu.html %}
            {% include disqus.html %}
					</div>
					
				</div>
  			</div>
  		</div>	
	</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/js/modernizr.js"></script>
		<script src="/js/colorfinder-1.1.js"></script>
		<script src="/js/custom.js"></script>
		
		
	</body>
	<footer>
		{% include footer.html %}
	</footer>
</html>