<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/custom.css" type="text/css">
		<link rel="stylesheet" href="/css/colors.css" type="text/css">
		{% include favicon.html %}
		{% include analytics.html %}
	</head>
	<body class="background-pattern">
		<div class= "container-fluid">
			<div class="row">
				
				{% include left-sidebar.html %}
				<div id="site-wrapper">
					<div id="site-canvas">
						{% include header.html %}
						<div id="site-submenu" class="col-sm-2">
							 <h2>Submenu</h2>
				                <p class="lead">Categories.</p>
				                <p>Blog Entries.</p>
				                <ul>
				                	<li><a href="https://medium.com/@simonchen/design-process-for-sf-vehicle-theft-crime-visualization-13b5e0b8dd50"  target="_blank">Design Process for SF Vehicle Theft Crime Visualization</a></li>
				                </ul>
				                <p>Places.</p>
				                <ul>
				                    <li>New York</li>
				                    <li>Houston</li>
				                </ul>
				                <p>Projects.</p>
				                <ul>
					                {% for link in site.project-sites %}
										<li><a href="{{link.url}}">{{link.text}}</a></li>
									{% endfor %}
				                </ul>

				                <p>Photography Sites.</p>
				                <ul>
					                {% for link in site.other-sites %}
										<li><a href="{{link.url}}">{{link.text}}</a></li>
									{% endfor %}
				                </ul>
            			</div>	
					</div>
					{{ content }}
				</div>
  			</div>
  		</div>	
	</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/js/modernizr.js"></script>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="/js/custom.js"></script>
		
		{% include disqus.html %}
	</body>
	<footer>
		{% include footer.html %}
	</footer>
</html>