<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/custom.css">
		{% include header.html %}
	</head>

	<body>
		<div class="jumbotron">
			<h1>
				{{ site.title }}
			</h1>
			<p>{{ site.tagline }}</p>
			<p><a class="btn btn-primary btn-lg">{{ site.subscribe }}</a></p>
		</div>

	

	</body>
	
	<footer>
		<p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
	</footer>


</html>