<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/SFcrime.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key=AIzaSyDS2PDfYwmOn1qzqc6V7kmisoUFLG6jLzA">
    </script>

    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js"></script>

    <script type="text/javascript" src="/js/SFcrime.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id="panel" class="basic">
      <div> <h3> SF Vehicle Thefts Visualization August - October 2014 <h3> </div>
      <span> <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="toggleMapStyle()">Toggle Map Style</button>
      </span>
      <div id="district_bio" class="slide hide"></div>
      <div id="legend" class="slide hide"><h4>Legend</h4></div>
    </div>
    <div class="basic" id="zoom_level"></div>
  </body>
</html>

